<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationLogs" connectionString="URL=http://localhost:8080;Database=ApplicationLogs"/>
  </connectionStrings>

  <log4net>
    <appender name="RavenDbBufferedAsyncAppender" type="Log4Net.AsyncAppender.RavenDbBufferedAsyncAppender, Log4Net.AsyncAppender">
      <lossy value="false" />
      <bufferSize value="100" />
      <connectionString value="ApplicationLogs" />
      <slidingFlush value="60" />
    </appender>

    <root>
      <appender-ref ref="RavenDbBufferedAsyncAppender" />
    </root>
  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>